.header {
  padding: 15px 0;
  box-shadow: 0 -10px 20px #000;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}